{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ empleado.cedula }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ empleado.sexo }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ empleado.telefono }}</td>
            </tr>
            <tr>
                <th>Tipocontrato</th>
                <td>{{ empleado.tipoContrato }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
